
root = true

[*]
insert_final_newline = true
end_of_line = lf

[*.{md,ts,js,css,scss,html,yml,yaml,editorconfig}]
indent_style = space
indent_size = 4
charset = utf-8

[*.{ts,js,css,scss,html,yml,yaml,editorconfig}]
trim_trailing_whitespace = true
